@model IEnumerable<GuestBookSystem.Models.Guestbook>
@{
    ViewBag.Title = "Index";
}

<style>
    .table {
        font-family: 微软雅黑;
    }

        .table th,
        .table td {
            border: 1px solid #98bf21;
        }

        .table th {
            color: #ffffff;
            background-color: #A7C942;
        }

        .table td {
            color: #000000;
        }

    .alt {
        background-color: #EAF2D3;
    }
</style>

<h2>你好，尊敬的管理员</h2>
<h5 id="time"></h5>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Admin">管理后台主页</a></li>
    <li role="presentation"><a href="/Admin/CheckIndex">待审核留言</a></li>
    <li role="presentation"><a href="/Account/Logout">退出登陆</a></li>
</ul>
<table class="table" id="111">
    <caption>学生名单</caption>
    <tr>
        <th>留言人</th>
        <th>留言时间</th>
        <th>标题</th>
        <th>留言内容</th>
        <th>操作</th>
    </tr>
    @foreach (var gb in Model)
    {
        if (gb.IsPass)
        {
        <tr>
            <td>@gb.AuthorEmail</td>
            <td>@gb.CreatedOn</td>
            <td>@gb.Title</td>
            <td>@gb.Content</td>
            <td>@Html.ActionLink("删除留言", "Delete", new { id = gb.GuestbookId })</td>
        </tr>
        }
    }
</table>
<script>
    function currentTime() {
        var d = new Date(), str = '';
        str += d.getFullYear() + '年';
        str += d.getMonth() + 1 + '月';
        str += d.getDate() + '日';
        str += d.getHours() + '时';
        str += d.getMinutes() + '分';
        str += d.getSeconds() + '秒';
        return str;
    }
    setInterval(function () { $('#time').html(currentTime) }, 1000);
</script>